name: Go

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Sage
        uses: ./actions/setup
        with:
          go-version-file: go.mod

      - name: Make
        run: make
