name: Release

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions: write-all

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Sage
        uses: ./actions/setup
        with:
          go-version-file: go.mod

      - name: Make
        run: make

      - name: Release
        uses: go-semantic-release/action@v1.24
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allow-initial-development-versions: true
          force-bump-patch-version: ${{ github.event_name == 'workflow_dispatch' }}
